<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>459258905441-ug5nc7vhrb376vfk9ik8kv6tvjb577oo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.459258905441-ug5nc7vhrb376vfk9ik8kv6tvjb577oo</string>
	<key>API_KEY</key>
	<string>AIzaSyDuCFAm4iTyb3IIJBItLD7gbhwpuoP01B4</string>
	<key>GCM_SENDER_ID</key>
	<string>459258905441</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tiktokClone</string>
	<key>PROJECT_ID</key>
	<string>tiktok-kks653</string>
	<key>STORAGE_BUCKET</key>
	<string>tiktok-kks653.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:459258905441:ios:7f41c552560581217a3b20</string>
</dict>
</plist>